.container {
	margin: 0 auto;
	max-width: 600px;
	position: relative;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.overlay {
	color: #fff;
	font-size: 64px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .4);
}

img {
	width: 170px;
	height: 170px;
	object-fit: cover;
	padding: 10px;
}

.btn {
	color: #fff;
	font-size: 25px;
	background: orange;
	border: none;
	border-radius: 20px;
	outline: inherit;
	padding: 20px;
	cursor: pointer;
}

.btn:hover {
	opacity: .9;
	transform: translateY(-5px)
}